@if (User.Identity.IsAuthenticated)
{

    <div class="text-center">
        <h4>Hello Worker @Model.FirstName @Model.LastName. You are Logged In</h4>
        <h3>Your Current Jobs:</h3>
        @foreach (var Job in Model.Jobs)
        {
            <div class="job">
                <h5>@Job.Title</h5>
                <div id="active-result-@Job.JobId">
                    @if (Job.Pending)
                    {
                        <p>You have marked this active</p>
                    }
                </div>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "active-" + @Job.JobId }))
                {

                    <input class="btn btn-warning" type="submit" value="Mark @Job.Title Active" />

                }
                <script>
                    $('#active-'+ @Job.JobId).submit(function (event) {
                        event.preventDefault();
                        $.ajax({
                            url: '@Url.Action("MarkActive", "Jobs" , new { id= Job.JobId })',
                            type: 'POST',
                            dataType: 'json',
                            data: { id: @Job.JobId },
                            success: function (result) {
                                var resultMessage = 'You have marked this active';
                                $('#active-result-@Job.JobId').html(resultMessage);
                            }
                        });
                    });
                </script>
               </div>

}
        @if (Model.Avaliable)
        {
            <h2>Please @Html.ActionLink("select a job", "Index", "Jobs").</h2>
        }
        else
        {
            <p>You are already assigned to a job.</p>
        }
    </div>
}